a{
    font-size: 1.2rem;
    text-decoration: none;
    padding: 0 1rem;
}
img{
    width: 600px;
    height: 600px;
    padding: 10px;
    border-radius: 10px;
}
h1{
    display: flex;
    justify-content: center;

}